body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.bottom {
    height: 3rem;
}

/* Supermain */
.supermain {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* Fin Supermain */


/* Header */
.header {
    display: flex;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

.header__logo {
    width: 10rem;
    height: 3rem;
    object-fit: cover;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__listitem {
    list-style: none;
}

.header__listitem__anchor {
    text-decoration: none;
    margin-right: 0.3rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    color: black;
}

.header__listitem__anchor-selected {
    color: #fff;
    background-color: gray;
}

.header__listitem__anchor:hover {
    color: #fff;
    background-color: gray;
}

/* Fin Header */

/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__cover {
    width: 100%;
    height: 100vh; 
}

.main__title {
    text-align: center;
}
/* Fin Main */


/* Section servicios */
.sectionservicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.sectionservicios__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
}

.sectionservicios__logo {
    width: 8rem;
    border: 2px solid black;
    border-radius: 50%;
}

.sectionservicios__text {
    text-align: center;
    margin-top: .5rem;
}

.sectionservicios__button {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
}

.sectionservicios__button:hover {
    background-color: gray;
    color: white;
}
/* Fin Section servicios */


/* Section testimonios */
.sectiontestimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.sectiontestimonios__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
}

.sectiontestimonios__testimonio {
    text-align: center;
    width: 10rem;
}
/* Fin Section testimonios */


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position : fixed;
    bottom: 0; 
    background-color: white;
    width: 100%;
    padding: .3rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
}

.footer__logo {
    width: 3rem;
}
/* Fin Footer */


/* Sobre mi */
.aboutcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
}

.aboutinnercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutcontainer__image {
    width: 50rem;
    height: 48rem;
}

.aboutcontainer__text {
    padding: 9rem; 
    text-align: center;
    font-size: 1.5rem; 
    line-height: 2rem;
    object-fit: cover;
}
/* Fin sobre mi */


/* Servicios */
.servicioscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
}

.servicioscontainer__servicio {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70rem;
    margin-bottom: 2rem;
}

.servicioscontainer__servicio--reverse {
    flex-direction: row-reverse;
}

.servicioscontainer__img {
    height: 25rem;
    width: 50rem;
    object-fit: cover;
}

.servicioscontainer__text {
    padding: 2rem;
    text-align: center;
    font-size: 1rem; 
    line-height: 2rem;
    object-fit: cover;
}
/* Fin servicios */


/* Galería */
.galeriacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
}

.galeriacontainer__galeria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.galeriacontainer__img {
    height: 25rem;
    width: 20rem;
    object-fit:cover
}

.galeriacontainer__img:hover {
    object-fit: contain;
    transform: scale(1.5);
}
/* Fin galería */


/* Contacto */
.contactocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
}

.contactocontainer__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40rem;
}

.contactocontainer__form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contactocontainer__form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
/* Fin contacto */

/* Media queries */
@media screen and (max-width: 1024px) {
    .supermain {
        margin: 0;
        padding: 0;
        max-width: 1024px;
    }

    .header {
        max-width: 1024px;
    }

    .main__cover {
        max-width: 1024px;
        object-fit: contain;
        height: 100%;
    }

    .sectionservicios,
    .sectiontestimonios {
        padding-right: 0;
        padding-left: 0;
        max-width: 1024px;
    }

    .sectionservicios__container,
    .sectiontestimonios__container {
        max-width: 1024px;
    }

    .aboutcontainer {
        max-width: 1024px;
        padding-right: 0;
        padding-left: 0;
    }

    .aboutcontainer__image{
        padding-right: 1rem;
    }

    .aboutcontainer__text {
        padding: 0;
        padding-right: 1rem;
        line-height: 2rem;
        text-align: left;
    }

    .servicioscontainer {
        max-width: 1024px;
        padding-right: 0;
        padding-left: 0;
    }

    .servicioscontainer__servicio {
        max-width: 1024px;
    }

    .servicioscontainer__text {
        padding: 0;
        padding-right: 1rem;
        padding-left: 1rem;
        line-height: 2rem;
        text-align: left;
    }

    .galeriacontainer {
        max-width: 1024px;
        padding-right: 0;
        padding-left: 0;
    }

    .galeriacontainer__galeria {
        flex-wrap: wrap;
    }

    .galeriacontainer__img {
        width: 46%;
        height: 25rem;
        object-fit: cover;
        padding: 1rem;
    }

    .contactocontainer__form input,
    .contactocontainer__form textarea {
        box-sizing: border-box;
    }

    .footer {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .supermain {
        margin: 0;
        padding: 0;
        max-width: 768px;
    }

    .header {
        max-width: 768px;
    }

    .main__cover {
        max-width: 768px;
    }

    .sectionservicios,
    .sectiontestimonios {
        max-width: 768px;
    }

    .sectionservicios__container,
    .sectiontestimonios__container {
        max-width: 768px;
    }

    .aboutcontainer {
        max-width: 768px;
    }

    .aboutcontainer__image{
        width: 60%;
        height: 100%;
        padding-right: 1rem;
    }

    .aboutcontainer__text {
        padding: 0;
        padding-right: 1rem;
        line-height: 2rem;
        text-align: left;
    }

    .servicioscontainer {
        max-width: 768px;
        padding-right: 0;
        padding-left: 0;
    }

    .servicioscontainer__servicio {
        max-width: 768px;
    }

    .servicioscontainer__text {
        padding: 0;
        padding-right: 1rem;
        padding-left: 1rem;
        line-height: 2rem;
        text-align: left;
    }

    .galeriacontainer {
        max-width: 768px;
        padding-right: 0;
        padding-left: 0;
    }

    .galeriacontainer__galeria {
        flex-wrap: wrap;
    }

    .galeriacontainer__img {
        width: 46%;
        height: 25rem;
        object-fit: cover;
        padding: 1rem;
    }

    .contactocontainer__form input,
    .contactocontainer__form textarea {
        box-sizing: border-box;
    }

    .footer {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .supermain {
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .header__listitem {
        width: 100%;
        border: 1px solid gray;
    }

    .header__listitem__anchor {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }

    .main__cover {
        height: 100%;
    }

    .sectionservicios__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sectiontestimonios {
        width: 80%;
    }

    .sectiontestimonios__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sectiontestimonios__testimonio {
        width: 100%;
    }

    .aboutcontainer {
        margin: 0;
        padding: 0;
    }

    .aboutinnercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutcontainer__image {
        width: 100%;
        height: 100%;
    }

    .aboutcontainer__text {
        padding: 0;
        font-size: 1rem;
        text-align: left;
    }

    .servicioscontainer {
        margin: 0;
        padding: 0;
    }

    .servicioscontainer__servicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .servicioscontainer__img {
        width: 100%;
        height: 100%;
    }

    .servicioscontainer__text {
        padding: 0;
        font-size: 1rem;
    }

    .galeriacontainer {
        margin: 0;
        padding: 0;
    }

    .galeriacontainer h3 {
        margin-bottom: 0;
    }

    .galeriacontainer__img {
        width: 25rem;
    }

    .galeriacontainer__galeria {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contactocontainer {
        width: 90%;
        margin:0;
        margin-bottom: 2rem;
        padding:0;
    }

    .contactocontainer__form {
        width: 100%;
    }

    .bottom {
        height: 0;
    }

    .footer {
        position: relative;
        max-width: 425px;
    }
}