<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amancio Urán</title>
    <link rel="stylesheet" href="../css/compilado.css">
</head>

<body>
    <div class="supermain">
        <!-- header -->
        <header class="header">
            <a href="../index.html">
                <img class="header__logo" src="../img/logo.png" alt="logo">
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="../index.html">Inicio</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor header__listitem__anchor-selected" href="./about.html">Sobre mi</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./galeria.html">Galería</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Seccion principal -->
        <main class="main">
            <div class="aboutcontainer">
                <h2 class="aboutcontainer__title">Sobre mí</h2>
                <div class="aboutinnercontainer">
                    <img class="aboutcontainer__image" src="../img/amancio_uran.jpg" alt="">
                    <p class="aboutcontainer__text">
                        Mi nombre es Amancio Urán. 
                        <br>
                        Soy tapicero de profesión con más de 30 años de experiencia en el rubro. 
                        <br>
                        Me dedico a la fabricación de muebles a medida, tapizados de sillas, sillones, reposeras, camas, colchones, etc. 
                        <br>
                        También realizo trabajos de restauración de muebles antiguos.
                    </p>
                </div>
            </div>
        </main>

        <div class="bottom"></div>

        <!-- footer -->
        <footer class="footer">
            <div class="footer__container">
                <a href="#">
                    <img class="footer__logo" src="../img/facebook_logo.png" alt="facebook_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/instagram_logo.png" alt="instagram_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/whatsapp_logo.png" alt="whatsapp_logo" />
                </a>
            </div>
        </footer>
    </div>
</body>

</html>