<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amancio Urán</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="supermain">
        <!-- header -->
        <header class="header">
            <a href="../index.html">
                <img class="header__logo" src="../img/logo.png" alt="logo">
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="../index.html">Inicio</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./about.html">Sobre mi</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="header__listitem header__listitem__anchor-selected">
                        <a class="header__listitem__anchor" href="./galeria.html">Galería</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

    <!-- Seccion principal -->
    <main class="main">
        <div class="galeriacontainer">
            <h2>Galería</h2>

            <h3>Sillas</h3>
            <div class="galeriacontainer__galeria">
                <img class="galeriacontainer__img" src="../img/sillas_1.jpeg" alt="silla 1">
                <img class="galeriacontainer__img" src="../img/sillas_2.jpeg" alt="silla 2">
                <img class="galeriacontainer__img" src="../img/sillas_3.jpeg" alt="silla 3">
                <img class="galeriacontainer__img" src="../img/sillas_4.jpeg" alt="silla 4">
            </div>

            <h3>Sillones</h3>
            <div class="galeriacontainer__galeria">
                <img class="galeriacontainer__img" src="../img/sillon_1.jpeg" alt="silla 1">
                <img class="galeriacontainer__img" src="../img/sillon_2.jpeg" alt="silla 2">
                <img class="galeriacontainer__img" src="../img/sillon_3.jpeg" alt="silla 3">
                <img class="galeriacontainer__img" src="../img/sillon_4.jpeg" alt="silla 4">
            </div>

            <h3>Respaldos de cama</h3>
            <div class="galeriacontainer__galeria">
                <img class="galeriacontainer__img" src="../img/respaldo_1.jpeg" alt="silla 1">
                <img class="galeriacontainer__img" src="../img/respaldo_2.jpeg" alt="silla 2">
                <img class="galeriacontainer__img" src="../img/respaldo_3.jpeg" alt="silla 3">
            </div>
        </div>
    </main>

        <div class="bottom"></div>

        <!-- footer -->
        <footer class="footer">
            <div class="footer__container">
                <a href="#">
                    <img class="footer__logo" src="../img/facebook_logo.png" alt="facebook_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/instagram_logo.png" alt="instagram_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/whatsapp_logo.png" alt="whatsapp_logo" />
                </a>
            </div>
        </footer>
    </div>
</body>

</html>