<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Tapicería y carpintería Amancio Urán. Entelados, cortinas, decoración, diseño y muebles."
    />
    <meta
      name="keywords"
      content="tapicería, carpintería, entelados, cortinados"
    />
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/compilado.css">
</head>

<body>
    <div class="supermain">
        <!-- header -->
        <header class="header">
            <a href="../index.html">
                <img class="header__logo" src="../img/logo.png" alt="logo">
            </a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="../index.html">Inicio</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./about.html">Sobre mi</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor header__listitem__anchor-selected" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./galeria.html">Galería</a>
                    </li>
                    <li class="header__listitem">
                        <a class="header__listitem__anchor" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

    <!-- Seccion principal -->
    <main class="main">
        <div class="servicioscontainer">
            <h2>Servicios</h2>
        
            <div class="servicioscontainer__servicio">
                <img class="servicioscontainer__img" src="../img/servicio_tapiceria.jpg" alt="servicio_tapiceria">
                <p class="servicioscontainer__text">
                    <ul>
                        Tapicería
                        <li>Análisis de las necesidades del cliente y selección de materiales adecuados.</li>
                        <li>Medición y corte de tela y otros materiales de revestimiento.</li>
                        <li>Reparación de muebles antiguos, incluyendo reemplazo de resortes, espumas y otros elementos internos.</li>
                        <li>Tapizado de muebles nuevos y antiguos, incluyendo sillas, sofás y otros tipos de muebles.</li>
                        <li>Creación de cojines y otros accesorios decorativos para muebles.</li>
                        <li>Instalación de cierres y gomas elásticas para asegurar un ajuste adecuado de la tela.</li>
                        <li>Prueba de muebles tapizados para asegurar la comodidad y el buen funcionamiento.</li>
                        <li>Mantenimiento y limpieza de muebles tapizados para prolongar su vida útil.</li>
                    </ul>
                </p>
            </div>
            <div class="servicioscontainer__servicio servicioscontainer__servicio--reverse">
                <img class="servicioscontainer__img" src="../img/servicio_capinteria.png" alt="servicio_carpinteria">
                <p class="servicioscontainer__text">
                    <ul>
                        Carpintería
                        <li>Análisis de las necesidades del cliente y diseño de piezas personalizadas.</li>
                        <li>Selección de maderas adecuadas para los proyectos.</li>
                        <li>Corte, tallado y ensamblaje de piezas de madera para la fabricación de muebles y estructuras.</li>
                        <li>Instalación de revestimientos de pared y techos, como paneles y molduras.</li>
                        <li>Reparación de muebles antiguos, incluyendo la sustitución de piezas rotas o dañadas.</li>
                        <li>Instalación de barandillas, escaleras y otros elementos de carpintería de seguridad.</li>
                    </ul>
                </p>
            </div>
            <div class="servicioscontainer__servicio">
                <img class="servicioscontainer__img" src="../img/servicio_entelados.png" alt="servicio_entelados">
                <p class="servicioscontainer__text">
                    <ul>
                        Entelados
                        <li>Análisis de las necesidades del cliente y selección de materiales adecuados.</li>
                        <li>Preparación de superficies de pared, incluyendo la eliminación de revestimientos antiguos y el reparo de grietas o irregularidades.</li>
                        <li>Aplicación de capas de yeso o placa de yeso para revestir las paredes.</li>
                        <li>Aplanado y pulido de superficies para lograr un acabado suave y uniforme.</li>
                        <li>Instalación de adornos y molduras para mejorar la apariencia de las paredes.</li>
                        <li>Aplicación de entelado o papel tapiz para completar el revestimiento.</li>
                    </ul>
                </p>
            </div>
            <div class="servicioscontainer__servicio servicioscontainer__servicio--reverse">
                <img class="servicioscontainer__img" src="../img/servicio_cortinas.png" alt="servicio_cortinas">
                <p class="servicioscontainer__text">
                    <ul>
                        Cortinados
                        <li>Análisis de las necesidades del cliente y selección de materiales adecuados.</li>
                        <li>Medición de ventanas y selección de tamaños y diseños adecuados para las cortinas.</li>
                        <li>Corte y confección de cortinas y otros productos textiles.</li>
                        <li>Instalación de hardware de montaje, como barras y anillos.</li>
                        <li>Reparación de cortinas antiguas, incluyendo la sustitución de resortes y gomas elásticas.</li>
                        <li>Instalación de cortinas en ventanas y ajuste para asegurar un ajuste adecuado.</li>
                        <li>Limpieza y mantenimiento de cortinas para prolongar su vida útil.</li>
                    </ul>
                </p>
            </div>
        </div>
    </main>

        <div class="bottom"></div>

        <!-- footer -->
        <footer class="footer">
            <div class="footer__container">
                <a href="#">
                    <img class="footer__logo" src="../img/facebook_logo.png" alt="facebook_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/instagram_logo.png" alt="instagram_logo" />
                </a>
                <a href="#">
                    <img class="footer__logo" src="../img/whatsapp_logo.png" alt="whatsapp_logo" />
                </a>
            </div>
        </footer>
    </div>
</body>

</html>